<%= form_for(@orden) do |f| %>
  <% if @orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

      <ul>
      <% @orden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :restaurante_id %><br>
    <%= f.number_field :restaurante_id %>
  </div>
  <div class="field">
    <%= f.label :productos %><br>
    <%= f.text_field :productos %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
