<h1>Listing ordens</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Restaurante</th>
      <th>Productos</th>
      <th>Precio</th>
      <th>Descripcion</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordens.each do |orden| %>
      <tr>
        <td><%= orden.user_id %></td>
        <td><%= orden.restaurante_id %></td>
        <td><%= orden.productos %></td>
        <td><%= orden.precio %></td>
        <td><%= orden.descripcion %></td>
        <td><%= orden.fecha %></td>
        <td><%= link_to 'Show', orden %></td>
        <td><%= link_to 'Edit', edit_orden_path(orden) %></td>
        <td><%= link_to 'Destroy', orden, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden', new_orden_path %>
