<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre distrito:</strong>
  <%= @distrito.nombre_distrito %>
</p>

<p>
  <strong>Canton:</strong>
  <%= @distrito.canton_id %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @distrito.direccion_id %>
</p>

<%= link_to 'Editar', edit_distrito_path(@distrito) %> |
<%= link_to 'Volver', distritos_path %>
