<%= form_for(@provin) do |f| %>
  <% if @provin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provin.errors.count, "error") %> prohibited this provin from being saved:</h2>

      <ul>
      <% @provin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_provincia %><br>
    <%= f.text_field :nombre_provincia %>
  </div>
  <div class="field">
    <%= f.label :direccion_id %><br>
    <%= f.number_field :direccion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
