<h1>Listando provincias</h1>

<table>
  <thead>
    <tr>
      <th>Nombre provincia</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provins.each do |provin| %>
      <tr>
        <td><%= provin.nombre_provincia %></td>
        <td><%= provin.direccion_id %></td>
        <td><%= link_to 'Mostrar', provin %></td>
        <td><%= link_to 'Editar', edit_provin_path(provin) %></td>
        <td><%= link_to 'Destruir', provin, method: :delete, data: { confirm: '¿Está Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Provincia', new_provin_path %>
