<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre provincia:</strong>
  <%= @provin.nombre_provincia %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @provin.direccion_id %>
</p>

<%= link_to 'Editar', edit_provin_path(@provin) %> |
<%= link_to 'Volver', provins_path %>
