<!-- CUENTA DE USUARIO-->
<% if user_signed_in? %>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
 	<li class="divider-vertical"></li>       
        <li><%= link_to 'HungryMaps', indice_path %></li> 
	<li class="divider-vertical"></li>
	<li><%= link_to 'Restaurantes', restaurantes_path %></li>
	<li class="divider-vertical"></li>
  	
	<li class="dropdown pull-right">
         <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= current_user.email %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
            <li class="divider"></li>
	    <center>
	    <button class="btn btn-link" data-toggle="modal" data-target="#myModal"></li>
	     Soporte 
	    </button>
	    </center>
          </ul>
        </li>

       </ul>
      </div>
    </div>
  </div>
</div> 
<p class='notice'><% notice%></p>
<p class='alert'><% alert%></p>
<%= yield %>
</body>

<% else%>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
	<li class="divider-vertical"></li>
	<li><%= link_to 'HungryMaps', indice_path %></li> 
	<li class="divider-vertical"></li>
	<li><%= link_to 'Restaurantes', restaurantes_path %></li>
	<li class="divider-vertical"></li>
	<li class="dropdown pull-right">
         <a href="#" data-toggle="dropdown" class="dropdown-toggle">Cuenta <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%=link_to "Inicia Sesión", new_user_session_path %></li>
            <li><%=link_to "Registrarse",  new_user_registration_path %></li>
            <li class="divider"></li>
	    <center>
	    <button class="btn btn-link" data-toggle="modal" data-target="#myModal"></li>
	     Soporte 
	    </button>
	    </center>
          </ul>
        </li>    
        </ul>
      </div>
    </div>
  </div>
</div> 
<p class='notice'><% notice%></p>
<p class='alert'><% alert%></p>

<%= yield %>

</body>

<%end%>

<!--HASTA AQUI CUENTA DE USUARIO-->

<!--SOPORTE-MODAL-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Soporte</h4>
      </div>
      <div class="modal-body">
	¿Reporte de infracciones o problemas no solucionados?<br>
        Contáctenos: <b>hungrymaps@gmail.com</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!--HASTA AQUÍ SOPORTE-MODAL-->

<body style="background-color:#CAF078;">
<center>
<br>
<br>
<h1>Lista de Ubicaciones</h1>
<br>
<style type="text/css">
.myTable { background-color:#eee;border-collapse:collapse; }
.myTable th { background-color:#45A91A;color:white;width:50%; }
.myTable td, .myTable th { text-align:center; padding:5px;border:1px solid #000; }
</style>

<table class="myTable" style="width:700px">
  <thead>
    <tr>
      <th>Dirección</th>
      <th>Restaurante</th>
    </tr>
  </thead>

  <tbody>
  
    <%= form_tag(ubicacions_path, :method => :get) do %>
    <%= label_tag(:provincia, ":D Dime tu provincia, tu cantón o tu distrito :D") %>
    <%= text_field_tag "searchbox", params[:searchbox] %>
    <%= submit_tag("Buscar") %>
    <% end %>
  

    <% @ubicacions.each do |ubicacion| %>
      <tr>
        <td><%= ubicacion.provincia+" "+ubicacion.canton+" "+ubicacion.distrito %></td>
        <td>
	<% ubicacion.restaurantes.each do |r|%>
	<div><%= link_to r.nombre_restaurante, restaurante_path(id: r.id) %> </div>
	<% end %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</center>
