<p id="notice"><%= notice %></p>

<p>
  <strong>Provincia:</strong>
  <%= @ubicacion.provincia %>
</p>

<p>
  <strong>Canton:</strong>
  <%= @ubicacion.canton %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @ubicacion.distrito %>
</p>

<p>
  <strong>Restaurante:</strong>
  <%= @ubicacion.restaurante_id %>
</p>

<%= link_to 'Edit', edit_ubicacion_path(@ubicacion) %> |
<%= link_to 'Back', ubicacions_path %>
