<center>
<br>
<p id="notice"><%= notice %></p>

<h1 style="color:green;">Ubicaciones</h1>

<p>
  <strong>Provincia:</strong>
  <%= @ubicacion.provincia %>
</p>

<p>
  <strong>Canton:</strong>
  <%= @ubicacion.canton %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @ubicacion.distrito %>
</p>

<%= link_to 'Edit', edit_ubicacion_path(@ubicacion) %> |
<%= link_to 'Back', ubicacions_path %>
</center>
