<%= form_for(@restaurante) do |f| %>
  <% if @restaurante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurante.errors.count, "error") %> prohibited this restaurante from being saved:</h2>

      <ul>
      <% @restaurante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_restaurante %><br>
    <%= f.text_field :nombre_restaurante %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.number_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :correo_electronico %><br>
    <%= f.text_field :correo_electronico %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.number_field :fax %>
  </div>
  <div class="field">
    <%= f.label :tipo_comida_id %><br>
    <%= f.number_field :tipo_comida_id %>
  </div>
  <div class="field">
    <%= f.label :señas %><br>
    <%= f.text_field :señas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
