<h1>Lista restaurantes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre restaurante</th>
      <th>Telefono</th>
      <th>Correo electronico</th>
      <th>Fax</th>
      <th>Tipo comida</th>
      <th>Señas</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<%= form_tag({:controller => "restaurantes", :action => "index"}, :method => :get) do %>

    <%= text_field_tag "searchbox", params[:searchbox] %>

    <%= submit_tag "Buscar", :nombre_restaurante => nil %>

<% end %>
  <tbody>
    <% @restaurantes.each do |restaurante| %>
      <tr>
        <td><%= link_to restaurante.nombre_restaurante, restaurante %></td>
        <td><%= restaurante.telefono %></td>
        <td><%= restaurante.correo_electronico %></td>
        <td><%= restaurante.fax %></td>
        <td><%= restaurante.tipo_comida_id %></td>
        <td><%= restaurante.señas %></td>
        <td><%= link_to 'Mostrar', restaurante %></td>
        <td><%= link_to 'Editar', edit_restaurante_path(restaurante) %></td>
        <td><%= link_to 'Eliminar', restaurante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Restaurante', new_restaurante_path %>
