<h1> Lista Tablas </h1>
<%= link_to 'Restaurantes', restaurantes_path %> <br>
<%= link_to 'Cantones', cantons_path %> <br>
<%= link_to 'Distritos', distritos_path %> <br>
<%= link_to 'Provincias', provins_path %> <br>
<%= link_to 'Categorias', categors_path %> <br>
<%= link_to 'Tipos de Comida', tipocomidas_path %> <br>
<%= link_to 'Menus', menus_path %> <br>
<%= link_to 'Direcciones', direccions_path %> <br>
<%= link_to 'Telefonos', telefonos_path %> <br>
