<body style="background-color:FCFDC5;">
<h1 style="font-family:arial; text-align:center; color:A03719"> Lista Tablas </h1>
</body>

<h1 style="text-align:center;">
<%=image_tag ("hungrymaps.PNG")%>
</h1>

<h2 style="font-family:arial; text-align:center; color:2DA90E"> 
<%= link_to 'Restaurantes', restaurantes_path %> <br>
</h2>

<h2 style="text-align:center;" > 
<%= link_to 'Direcciones', direccions_path %> <br>
</h2>

<h2 style="text-align:center;" > 
<%= link_to 'Cantones', cantons_path %> <br>
</h2>

<h2 style="text-align:center;" > 
<%= link_to 'Distritos', distritos_path %> <br>
</h2>

<h2 style="text-align:center;" > 
<%= link_to 'Provincias', provins_path %> <br>
</h2>

<h2 style="text-align:center;" > 
<%= link_to 'Categorías', categors_path %> <br>
</h2>

<h2 style="text-align:center;" > 
<%= link_to 'Tipos de Comida', tipocomidas_path %> <br>
</h2>

<h2 style="text-align:center;" > 
<%= link_to 'Menús', menus_path %> <br>
</h2>

<h2 style="text-align:center;" > 
<%= link_to 'Información Nutricional', nutricions_path %> <br>

<h2 style="text-align:center;" > 
<%= link_to 'Teléfonos', telefonos_path %> <br>
</h2>

