<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre restaurante:</strong>
  <%= @restaurante.nombre_restaurante %>
</p>

<p>
  <strong>Direccion: </strong>
  <% @restaurante.direccions.each do |d| %>
  <%= d.provin.nombre_provincia %>
  <%= d.canton.nombre_canton %>
  <%= d.distrito.nombre_distrito %>
  <% end %>
</p>

<p>
  <strong>Menu:</strong>
  <%= link_to 'Vea El Menu', rest_menus_path%>
</p>
  
<%= link_to 'Editar', edit_restaurante_path(@restaurante) %> |
<%= link_to 'Volver', restaurantes_path %>
