<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurante_id %><br>
    <%= f.number_field :restaurante_id %>
  </div>
  <div class="field">
    <%= f.label :nombre_platillo %><br>
    <%= f.text_field :nombre_platillo %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio %>
  </div>
  <div class="field">
    <%= f.label :categor_id %><br>
    <%= f.number_field :categor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
