<!-- CUENTA DE USUARIO-->
<% if user_signed_in? %>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
<li><%= link_to 'HungryMaps', indice_path %></li>
<li><%= link_to 'Restaurantes', restaurantes_path %></li>
<li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
     
        </ul>
      </div>
    </div>
  </div>
</div>
 
<p class='notice'><% notice%></p>
<p class='alert'><% alert%></p>
<p>Bienvenido <%= current_user.email %></p>
<%= yield %>

</body>

<% else%>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
<li><%= link_to 'HungryMaps', indice_path %></li>
<li><%= link_to 'Restaurantes', restaurantes_path %></li>
<li><%=link_to "Registrarse", new_user_registration_path %></li>
<li><%=link_to "Inicia Sesión", new_user_session_path %></li> 
     
        </ul>
      </div>
    </div>
  </div>
</div>
 
<p class='notice'><% notice%></p>
<p class='alert'><% alert%></p>

<%= yield %>

</body>

<%end%>

<!--HASTA AQUI CUENTA DE USUARIO-->
<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Vuelva a enviar las instrucciones de confirmación" %></div>
<% end %>

<%= render "devise/shared/links" %>
