<%= form_for(@direccion) do |f| %>
  <% if @direccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direccion.errors.count, "error") %> prohibited this direccion from being saved:</h2>

      <ul>
      <% @direccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurante_id %><br>
    <%= f.number_field :restaurante_id %>
  </div>
  <div class="field">
    <%= f.label :señas %><br>
    <%= f.text_field :señas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
