<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurante:</strong>
  <%= @direccion.restaurante_id %>
</p>

<p>
  <strong>Señas:</strong>
  <%= @direccion.señas %>
</p>

<%= link_to 'Editar', edit_direccion_path(@direccion) %> |
<%= link_to 'Volver', direccions_path %>
