<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurante:</strong>
  <%= @telefono.restaurante_id %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @telefono.telefono %>
</p>

<%= link_to 'Editar', edit_telefono_path(@telefono) %> |
<%= link_to 'Volver', telefonos_path %>
