<h1>Listando tipo comidas</h1>

<table>
  <thead>
    <tr>
      <th>Restaurante</th>
      <th>Tipocomida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipocomidas.each do |tipocomida| %>
      <tr>
        <td><%= tipocomida.restaurante_id %></td>
        <td><%= tipocomida.tipocomida %></td>
        <td><%= link_to 'Mostrar', tipocomida %></td>
        <td><%= link_to 'Editar', edit_tipocomida_path(tipocomida) %></td>
        <td><%= link_to 'Destruir', tipocomida, method: :delete, data: { confirm: '¿Está Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tipo De Comida', new_tipocomida_path %>
