<body style="background-color:#CAF078;">
<center>
<br>
<br>
<h1>Carrito de Compra</h1>
<br>
<style type="text/css">
.myTable { background-color:#eee;border-collapse:collapse; }
.myTable th { background-color:#45A91A;color:white;width:50%; }
.myTable td, .myTable th { text-align:center; padding:5px;border:1px solid #000; }
</style>

<table class="myTable" style="width:500px">
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
    </tr>
  </thead>

  <tbody>
    <% @carritos.each do |carrito| %>
      <tr>
        <td><%= carrito.producto %></td>
        <td><%= carrito.cantidad %></td>
        <td><%= link_to 'Show', carrito %></td>
        <td><%= link_to 'Edit', edit_carrito_path(carrito) %></td>
        <td><%= link_to 'Destroy', carrito, method: :delete, data: { confirm: '¿Está seguro de que desea eliminar este producto de su carrito?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrito', new_carrito_path %>

</center>
