<h1>Listing provincia</h1>

<table>
  <thead>
    <tr>
      <th>Nombre provincia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provincia.each do |provincium| %>
      <tr>
        <td><%= provincium.nombre_provincia %></td>
        <td><%= link_to 'Show', provincium %></td>
        <td><%= link_to 'Edit', edit_provincium_path(provincium) %></td>
        <td><%= link_to 'Destroy', provincium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provincium', new_provincium_path %>
