<%= form_for(@tipo_comida) do |f| %>
  <% if @tipo_comida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_comida.errors.count, "error") %> prohibited this tipo_comida from being saved:</h2>

      <ul>
      <% @tipo_comida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipoComida %><br>
    <%= f.text_field :tipoComida %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
