<h1>¡Una orden enviada con Hungry Maps!</h1>

<p>
Información del Cliente: <%orden.user.email%>
<p>

<br>

<p>
Orden para el Restaurante: <%= @orden.restaurante.nombre_restaurante %>
</p>

<br>

<p>
Los productos pedidos: <%= @orden.productos %>
</p>
<br>

<p>
Detalles del Pedido: 
<br>
<%= @orden.fecha %>
<br>
<%= @orden.descripcion %>
</p>
<br>

<p>
Y el total de la orden es: <%= @orden.precio %>
</p>

<h2>¡Provecho!</h2>
