<!DOCTYPE html>
<html>
<head>
  <title>HungryMaps</title>
  <%= stylesheet_link_tag  "application", :media => "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>

 <nav class='navbar'>
	<div class='navbar-inner'>
          <ul class='nav'>
	        <li><%= link_to 'Restaurantes', restaurantes_path %></li> 
	        <li><%= link_to 'Menu', menus_path %></li>
		<li><%= link_to 'Tipos de Comida', tipocomidas_path %></li>
		<li><%= link_to 'Categorías', categors_path %></li>
		<li><%= link_to 'Categorías', categors_path %></li>	   	
		<li><%= link_to 'Información Nutricional', nutricions_path %></li>
		<li><%= link_to 'Provincias', provins_path %></li>
		<li><%= link_to 'Cantones', cantons_path %></li>
		<li><%= link_to 'Distritos', distritos_path %></li>
		<li><%= link_to 'Teléfonos', telefonos_path %></li>
          </ul>
	</div>
 </nav>
		
<%= yield %>

</body>
</html> 

